<div>
  {% if section.message != blank %}
    {{ section.message }}
  {% else %}
    <script>console.log({{ section.message | json }})</script>
    <script>console.log({{ section.settings | json }})</script>
    Welcome to {{ shop.name }}
  {% endif %}
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "limit": 1,
  "class": "announcement-bar",
  "settings": [
    {
      "type": "text",
      "id": "message",
      "label": "Message"
    }
  ]
}
{% endschema %}